main :hover {
    color: rgb(0, 0, 0);
    /* width: 1%; */
}

body {
    background-color: yellow;
}

main {
    text-align: center;
    color: white;
    cursor: url('Webp.net-resizeimage.png'), auto;
    size: 120%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: grid;
    grid-template-columns: 1px 223px 1fr;
    font-size: 69px;
}
a {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 100px;
}
img {
    width: 55%;
}

li:hover {
    width: 200em;
    cursor: url('thing.png'), auto;
    
}


img:hover {
    cursor: url('thing.png'), auto;
}



.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

