/* *{
    border:2px solid black;
} */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap");

:root {
    --heading-font: 'Raleway';
    --paragraph-font: Lato, Helvetica, sans-serif;
    --primary-color: #2B2D42   ;
    --secondary-color: #8D99AE ;
    --accent1-color: #EF233C;
    --accent2-color: #EDF2F4;
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}

p,
a {
    font-family: var(--paragraph-font);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    padding: 35px;
    background-color: #EDF2F4;
    color: #2B2D42;
    text-decoration: none;
}

#hero-message h1,
#hero-message h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #8D99AE;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#logo_link{
    padding-top: 5px;
}
h2{
    margin: 0;
}

header {
    background-color: #EDF2F4;
}

nav a:hover {
    background-color: #8D99AE;
}

.book,
.join {
    background-color: var(--primary-color);
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: var(--accent1-color);
}

#background {
    background-color: #EDF2F4;
}

.msg {
    background-color: #EDF2F4;
    padding: 35px;
}

footer {
    background-color: #EDF2F4;
    padding: 25px 50px;
    margin-top: 200px;
}

nav a:hover {
    color: #2B2D42;
}

.home-title {
    color: #2B2D42;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #2B2D42;
}

.book,
.join {
    color: var(--accent2-color);
    text-decoration: none;
    font-size: 18px;
}

.book:hover,
.join:hover {
    color: var(--accent2-color);
}

.msg h2 {
    color: #2B2D42;
}

.msg p {
    color: #2B2D42;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: #2B2D42;

}

footer a {
    color: #2B2D42;
    text-decoration: none;
}

footer a:hover {
    color: #2B2D42;
    background-color: #8D99AE;
}

footer h3 a:hover {
    text-decoration: underline;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border:10px solid #2B2D42;
}

main section img {
    box-sizing: border-box;
}